/* Global styles */

.header-banner-background {
  background-image: url("images/pic_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.btn:hover,
.btn:active {
  opacity: 0.9;
}
